processed_data/
original_dataset/
baseline_data/
split_datasets*/
test/**/**/lossplot/
test/**/**/checkpoint/
test/**/**/accplot/
test/**/**/errorplot/
test/**/**/final/checkpoint_final.tar
data_processing/*.csv
Presentation/*.csv

